body {
  background: linear-gradient(to right, #88c9e8, #97dcfb);
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  width: 320px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background: #667eea;
  color: white;
  border: none;
  cursor: pointer;
}

.back {
  background: gray;
}

.link {
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}