.container {
  margin: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 15px;
  color:rgb(26, 29, 30);
}

select, input, button {
  margin: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #060606;
  border-radius: 4px;
}

button {
  background-color:hsl(198, 19%, 89%);
  color:black;
  cursor: pointer;
}

button:hover {
  background-color: #2d79d6;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.student-table th,
.student-table td {
  border: 1px solid #0d0f10;
  padding: 2px;
  text-align: center;
}

.student-table th {
  background-color: lch(75.51% 38.1 218.91);
  color: #0e0f0f;
}

.pass {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}

p {
  margin-top: 2px;
  color: #121212;
}