body {
  font-family: Arial, sans-serif;
  background-color: #adcdf5;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
 .checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}