.table-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0748de;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;

}

.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.logo {
  width: 70px;
  height: auto;
  align-content: left;
  align-items: left;
}

.title-row h2 {
  margin: 0;
  align-items: left;
}


th {
  background-color: rgb(148, 166, 233);
}

.create-btn {
  display: block;
  margin: auto;
  padding: 15px 90px;
  background-color: #2872f2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #ec7c1f;
}
